*{
    margin: 0;
    padding: 0;
}

#cabecalho{
    background-color: #ba55d3;
    width: 100%;
    position: fixed;
    top: 0;
}
#logo{
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-family: 'Madimi One', 'tahoma';
    font-size: 350%;
    cursor:pointer;
}
#menu{
    width:100%;
    text-align: center;
    color: #fffafa;
    padding: 20px 0;
    font-family: 'montserrat';
}
#menu li{
    list-style-type: none;
    display:inline;
    cursor:pointer; /*para virar mãozinha*/
    padding:1% 1% 1% 1%; /*para espaçar*/
}
#menu li:hover{
    /*para acontecer alguma coisa quando passa*/
    padding-bottom: 0.4em;
    border-bottom: 0.3em solid #da70d6;
    /*ou usa o backgroudcolor, o comando para acontecer alguma coisa quando passa o mouse é o hover*/
}
#content{
    padding-top: 220px; /*para descolar a imagem do titulo*/
    width: 90%;
    margin: 0 auto;
}
#content img{
    width:100%;
    height:50%;
}
#footer{
    background-color: #ba55d3;
    width:100%;
    height:50px;
}